.App {
  text-align: center;
}

.App-header {
  height: 250px;
  padding: 10px;
  color: rgb(209, 199, 199);
  background: rgba(0, 0, 0, 0.993);

}
#logo-ux{
  /* animation: App-logo-spin infinite 20s linear; */
  display: inline-block;
  width: 200px;
}
#logo2-ux{
  width:90px;
height:90px;
border-radius:150px;
}


.App-title {
  font-size: 2.6em;
  color: black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.login-buttons{
  display: inline-block;
  width: 190px;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  margin: 1.5em auto;
}
#btn-google,
#btn-crear{
  background:black;
  color: rgb(255, 255, 255);
  border: thin solid #888;
}

#btn-google img{
    width: 25px;
    margin-right: 5%;
}
